# see http://docs.python.org/distutils/sourcedist.html
# 
include countem installit test.all
include CHANGES README* TODO MANIFEST.in
include .gitignoreinclude .gitignore**
recursive-include src tests
global-exclude junk* .*swp 
